{% extends "base.html" %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

<div class="container p-3 pb-5 mb-5" style="font-family: 'Montserrat', sans-serif;">

    <div class="col-md-8 col-lg-7 col-xl-6 col-xxl-7 m-2 m-md-auto border rounded p-2 shadow-lg">

        <header class="h3 text-center m-3" style="letter-spacing: 2px; color: #6FB1BF;">
            Rejestracja
        </header>

          <!-- Image -->
          <div class="mt-5 mb-5" style="text-align: center;">
            <img src="/image/prize.png" alt="prize-img" width="20%">
        </div>



        <div class="text-center" style="line-height: 2;"">
            Konto aktywne! 
            <br>
            Sukces! Twoje konto jest aktywne.
            <br>
            Możesz się teraz <a href="/login">zalogować</a> do swojego konta.
        </div>

    </div>
</div>

</article>

{% endblock %}
