
.icon-user:before { content: '\e800'; } /* '' */
.icon-money-1:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-money-2:before { content: '\e806'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
