{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block footer %}

<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>

<script>
  
  $(document).ready(function () {


    /**
     * Validate the form
     */
    $('#formPassword').validate({
      rules: {
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        }
      }
    });

    /**
     * 
     * Show password toggle button
     * */
    $('inputPassword').hideShowPassword({
      show: false,
      innerToggle: 'focus'
    });
  });
</script>

{% endblock %}

{% block body %}

<!-- Name -->
<section id="password">
  <div class="text-center mt-5">
    <h1 class="text-container">Ustaw nowe hasło</h1>
  </div>

{% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}


<!-- New password -->
<div class="p-3 mb-0">
    <div class="col-12 offset-lg-2 col-lg-8 text-center">

      <form method="post" id="formPassword" action="/password/reset-password">
        <input type="hidden" name="token" value="{{ token }}" />

        <div class="form-group mb-3">
          <label for="inputPassword"><i class="fa-sharp fa-solid fa-key"></i> Hasło</label>
          <input type="password" id="inputPassword" name="password" placeholder="Hasło" required class="form-control" />
        </div>

        <button type="submit" class="btn btn-outline-success btn-lg signButton "><i class="fas fa-save"></i> Zapisz zmiany</button>
       
      </form>
    </div>

</div>

</section>

</form>

{% endblock %}