{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block body %}

<!-- Image -->
<div class="caution">
    <div style="text-align: center"><img class="password-image" src="/images/caution.png" alt="caution-img">
    </div>
  </div>

<div class="text-center mt-5">
    <h1 class="text-container">Poproś o zresetowanie Twojego hasła</h1>
    <p>Link do resetowania hasła jest niepoprawny lub wygasł. Proszę kliknij <a href="/password/forgot">tutaj</a> aby
        popracić o inny.</p>
</div>

{% endblock %}