{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block body %}

<!-- Name -->
<section id="signIn">
  <div class="text-center mt-5">
    <h1 class="text-container">Logowanie</h1>
  </div>

  <!-- Login -->

  <div class="p-3 mb-0">

    <div class="customer">
      <div style="text-align: center"><img class="user-image" src="/images/user.png" alt="customer-img">
      </div>
    </div>


    <div class="row">

      <div class="col-12 offset-lg-2 col-lg-8 text-center">

        <form action="/login/create" method="post">

          <div class="form-group mb-3 ">
            <label for="inputEmail"><i class="fa-regular fa-envelope"></i> Adres email</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email" autofocus value="{{ email }}" class="form-control"/>
          </div>
          <div class="form-group mb-3">
            <label for="inputPassword"><i class="fa-sharp fa-solid fa-key"></i> Hasło</label>
            <input type="password" id="inputPassword" name="password" placeholder="Hasło" class="form-control"/>
          </div>
        
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}/> Zapamiętaj dane
            </label>
          </div>
          
          <button type="submit" class="btn btn-outline-success btn-lg signButton"><i
            class="fa-solid fa-right-to-bracket"></i> Zaloguj się</button>
          <a class="btn btn-outline-warning btn-lg signButton" href="/password/forgot"  role="button"><i class="far fa-times-circle"></i>  Zapomniałeś hasła?</a>
        </form>
      </div>
    </div>
  </div>

</section>

</form>

{% endblock %}