{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block body %}

<h1>Logowanie</h1>

<form action="/login/create" method="post">

  <div class="form-group">
    <label for="inputEmail">Adres email</label>
    <input type="email" id="inputEmail" name="email" placeholder="Email" autofocus value="{{ email }}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="inputPassword">Hasło</label>
    <input type="password" id="inputPassword" name="password" placeholder="Hasło" class="form-control"/>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %}/> Zapamiętaj dane
    </label>
  </div>

  <button type="submit" class="btn btn-default">Zaloguj się</button>
  <a href="/password/forgot">Zapomniałeś hasła?</a>

</form>

{% endblock %}