{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block body %}

<div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7 m-2 m-md-auto border border-info rounded p-2 shadow-lg">


    <header class="h3 text-center ps-3" style="letter-spacing: 2px; color: #6FB1BF">
        Profil
    </header>


            <!-- Image -->
    <div class="mt-4" style="text-align: center;">
        <img src="/image/profile.png" alt="profile-img" width="25%">
    </div>


    <div class="input-group p-3 m-auto px-5">
        <dl>
            <dt>Imię</dt>
            <dd>{{ user.username }}</dd>
            <dt>E-mail</dt>
            <dd>{{ user.email }}</dd>
        </dl>
        
    </div>
    <div class="d-flex justify-content-center pb-2">
        <button type="button"  class="btn btn-outline-success m-auto mx-1 btn-lg" onclick="location.href='/profile/edit';">Edytuj</button>
    </div>
</div>

</article>


{% endblock %}
